:root {
    /* Declaro variables CSS con colores principales */
    --color-theme: #ffce30;
    --color-active: #288ba8;
    --color-back-active: #746ab0;
    --color-back-inactive: #c4c6c9;
    --color-titulos: #e83845;
    --color-texto-blanco: #fff;
    --color-verde: #28a745;
    --color-font: #1d1d1d;
    --color-button: #7f8c8d;
    --color-gradient: linear-gradient(to right,
            var(--color-theme),
            var(--color-back-active));
}
/* Contenido principal */
.contenidoPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.contenidoPrincipal #sec_ayuda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 50px;
}

/* Formulario*/
#form-cine_contacto .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-cine_contacto .campo {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.campo input{
    font-weight: 600;
    font-size: 15px;
    border-radius: 2px;
    border-width: 1.5px;
    border-color: var(--color-font);
}

.campo label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 1px;
}

.input-text {
    width: 100%;
    padding: 5px;

}

.form #mensaje {
    height: 150px;
}

.button {
    cursor: pointer;
    border: none;
    display: inline;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 70px;
    background-color: var(--color-active);
    color: var(--color-texto-blanco);
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s ease all;
}

.button:hover {
    background-color: var(--color-back-active);
}